<h3>Controls</h3>
<div data-role="content">
    <div data-role="fieldcontain"  >
        <span id="time"></span>
    </div>
    <div data-role="fieldcontain">
        <label for="flip-pauseplay">Play:</label>
        <select name="pauseplay" id="flip-pauseplay" data-role="slider" >
            <option value="pause">Pause</option>
            <option value="play">Play</option>
        </select>
    </div>
    <div data-role="fieldcontain">
        <label for="flip-fullscreen">Fullscreen:</label>
        <select name="fullscreen" id="flip-fullscreen" data-role="slider" >
            <option value="fullscreen_off">Off</option>
            <option value="fullscreen_on">On</option>
        </select>
    </div>
    <div data-role="fieldcontain">
        <label for="flip-subs">Subtitles:</label>
        <select name="subs" id="flip-subs" data-role="slider" >
            <option value="subs_off">Off</option>
            <option value="subs_on">On</option>
        </select>
    </div>

    <div class="ui-grid-a">
        <div class="ui-block-a">
            <button data-role="button" data-icon="back" data-inline="true" id="btn-back">Back</button>
        </div><div class="ui-block-b">
            <button data-role="button" data-icon="forward" data-inline="true" id="btn-forward">Forward</button>
        </div>
    </div>

    <div class="ui-grid-a">
        <div class="ui-block-a">
            <button data-role="button" data-icon="back" data-inline="true" id="btn-back-more">Back ++</button>
        </div><div class="ui-block-b">
            <button data-role="button" data-icon="forward" data-inline="true" id="btn-forward-more">Forward ++</button>
        </div>
    </div>
</div>

