<h3>Files</h3>
<div data-role="content">
    <div data-role="fieldcontain">
        <button data-role="button" data-icon="refresh" data-inline="false" id="get-files">Refresh</button>
    </div>

    <div id="files">
    </div>
</div>

